<mat-drawer-container class="drawer-container" fxLayout="row" fxLayout.xs="column">
    <mat-drawer mode="side" opened class="left-drawer">
        <form [formGroup]="fractalParamForm">
            <mat-list>

                <h1 mat-subheader class="section-title">General parameters</h1>

                <mat-list-item class="param-row">
                    <mat-form-field>
                        <mat-label>Fractal</mat-label>
                        <select matNativeControl required formControlName="type">
                            <option *ngFor="let type of fractalTypes" value="{{type}}">{{type}}</option>
                        </select>
                    </mat-form-field>
                </mat-list-item>

                <mat-list-item class="param-row">
                    <mat-form-field>
                        <input type="number" matInput formControlName="width" placeholder="Width:" required>
                    </mat-form-field>
                </mat-list-item>

                <mat-list-item class="param-row"> 
                    <mat-form-field>
                        <input type="number" matInput formControlName="height" placeholder="Height:" required>
                    </mat-form-field>
                </mat-list-item>

                <mat-list-item class="param-row">
                    <mat-form-field fxFlex="75%"> 
                        <mat-label>Color scheme</mat-label>
                        <input type="color" matInput formControlName="color" required>
                    </mat-form-field>
                    <mat-slide-toggle formControlName="isRndColor" 
                        (change)="disableEnableInput(fractalParamForm.get('isRndColor').value, 'color')">
                        <mat-icon>casino</mat-icon>
                    </mat-slide-toggle>
                </mat-list-item>

                <mat-divider></mat-divider>

                <h1 mat-subheader class="section-title">Fractal parameters</h1>

                <mat-list-item class="param-row">
                    <mat-form-field fxFlex="75%">
                        <input type="number" matInput formControlName="centerX" placeholder="Center for X cx:" required>
                    </mat-form-field>
                    <mat-slide-toggle formControlName="isRndCenterX"
                        (change)="disableEnableInput(fractalParamForm.get('isRndCenterX').value, 'centerX')">
                        <mat-icon>casino</mat-icon>
                    </mat-slide-toggle>
                </mat-list-item>

                <mat-list-item class="param-row">
                    <mat-form-field fxFlex="75%">
                        <input type="number" matInput formControlName="centerY" placeholder="Center for Y cy:" required>
                    </mat-form-field>
                    <mat-slide-toggle formControlName="isRndCenterY"
                        (change)="disableEnableInput(fractalParamForm.get('isRndCenterY').value, 'centerY')">
                        <mat-icon>casino</mat-icon>
                    </mat-slide-toggle>
                </mat-list-item>

                <mat-list-item class="param-row">
                    <mat-form-field fxFlex="75%">
                        <input type="number" matInput formControlName="maxZ" placeholder="max. |Z|^2:" required>
                    </mat-form-field>
                    <mat-slide-toggle formControlName="isRndMaxZ"
                        (change)="disableEnableInput(fractalParamForm.get('isRndMaxZ').value, 'maxZ')">
                        <mat-icon>casino</mat-icon>
                    </mat-slide-toggle>
                </mat-list-item>

                <mat-list-item class="param-row">
                    <mat-form-field fxFlex="75%"> 
                        <input type="number" matInput formControlName="power" placeholder="Power:" required>
                    </mat-form-field>
                    <mat-slide-toggle formControlName="isRndPower"
                        (change)="disableEnableInput(fractalParamForm.get('isRndPower').value, 'power')">
                        <mat-icon>casino</mat-icon>
                    </mat-slide-toggle>
                </mat-list-item>

                <mat-list-item class="param-row">
                    <mat-form-field fxFlex="75%">
                        <input type="number" formControlName="iteration" matInput placeholder="Max iteration:" required>
                    </mat-form-field>
                    <mat-slide-toggle formControlName="isRndIteration"
                        (change)="disableEnableInput(fractalParamForm.get('isRndIteration').value, 'iteration')">
                        <mat-icon>casino</mat-icon>
                    </mat-slide-toggle>
                </mat-list-item>

            </mat-list>
        </form>
        <input type="submit" value="GO!" (click)="onGenerate()" class="calculate_button"
            [disabled]="!fractalParamForm.valid">
    </mat-drawer>

    <mat-drawer-content>
        <a [href]="linkPicture">
            <img [src]="base64Image" alt=""/>
        </a>
        <div>
            Link to always random image: <button mat-raised-button color="primary" (click)="copyMessage(linkPicture)" value="click to copy">{{linkPicture?'copy this':'wait'}}</button> <br>
        </div>
        
        <div>
            <button mat-raised-button *ngIf="base64Image" color="primary" (click)="downloadImage()" value="click to download">{{base64Image?'Download':'wait'}}</button> <br>
        </div>
    </mat-drawer-content>

</mat-drawer-container>
